
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Playfair+Display&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
      @apply  text-nav-pink
    }
  }

  @layer base{
    body{
      @apply  font-poppins
    }
  }

  @layer base{
    #productShopNow{
      @apply  font-playfair
    }
  }

  /* @layer base{
    body{
      @apply bg-[#FFF8F7]
    };
  } */

  @layer base{
    #landingComp{
      @apply font-montycarlo
    }
  }

  .react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform,transition;
    gap: 2rem;
}



.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background .5s;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
  background-color: pink;
  
}

.react-multi-carousel-dot--active button {
  background-color: white;
  scale: 5rem;
}


.react-multi-carousel-list {
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  position: relative;

}

.react-multi-carousel-dot-list {
  position: absolute;
  bottom: -49px;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

#featured-div svg{
  height: 3rem;
  width: 5rem;
}

.react-multiple-carousel__arrow--left {
  left: -20px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
}

.react-multi-carousel-list {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: unset;
}


.multi-range-slider {
  display: flex;
  position: relative;
  /* border: solid 1px gray; */
  /* border-radius: 10px; */
  /* padding: 20px 10px; */
  /* box-shadow: 1px 1px 4px black; */
  flex-direction: column;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.multi-range-slider .ruler {
  margin: 10px 0px -5px 0px;
  display: flex;
  display: none;
  overflow: hidden;
}

#about-us{
  @apply bg-white
}

#LandingHomePage{
  @apply bg-[#FFF8F7]
}

/* @layer base{
  .absolute.bottom-5.left-1\/2.flex.-translate-x-1\/2.space-x-3{
  @apply flex flex-col gap-[1rem] absolute top-1/2 left-[4rem] w-auto
} */
/* } */
/* .custom_crousel:nth-child(2){
  display: flex;
  flex-direction: column !important;
  position: absolute;
  top: 50% !important;
  background-color: yellow !important;
} */

.flex-item-center{
  display: flex;
  align-items: center;
  width: 100%;


}

.custom-dot-class{
  position: absolute;
  align-items: center;
  display: flex;
  left: 50vw;
  /* bottom: -32px; */
}

@layer base{
  .dump>button>svg{
    @apply hidden
  }
}

.dropdown-container button{
  @apply bg-transparent text-nav-pink border-[0.01rem] py-1 border-nav-pink rounded-none w-full  text-lg flex justify-between dark:enabled:bg-nav-pink dark:enabled:text-white dark:hover:bg-nav-pink hover:bg-nav-pink focus:ring-0 enabled:hover:bg-nav-pink enabled:hover:text-white
}
.dropdown-container button span svg{
  @apply hidden
}
.dropdown-container button span{
  @apply text-[1rem]
}

/* handling the cartsidebar css */

#cart-container{
  @apply p-0
}

#cart-container>div{
  @apply w-full rounded-none
}

.main-container{
  @apply  rounded-none h-[100vh] 
}